body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* override absolute positioning styles of the validator messages */
.validator-msg,
.validator-msg .k-tooltip {
    position: static;
    display: block;
    background-color: transparent !important;
    border: none !important;
    text-align: left;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: red !important;
}

    /* hide validator tooltip callouts */
    .validator-msg .k-tooltip .k-callout, .k-i-warning {
        display: none;
    }

    .validator-msg .k-i-warning {
        display: none;
    }



.validation-arrow {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    border-color: red red transparent transparent;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
}

.cell-invalid .validation-arrow {
    display: block;
}

.k-dirty-clear .k-dirty {
    display: none;
}

